@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

html {
    font-size: 28px;
}
.taskDone {
    text-decoration: line-through;
}

body {
    background: #D96846;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button,
input,
body {
    color: #2F3020;
    font-family: 'Tilt Neon', cursive;
    font-size: 1rem;
}


.actualToDoList {
    background: #CDCBD6;
    border-radius: 0.5rem;
    padding: 1rem 2.3rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3px rgba(0,0,0,0.8);
    text-align: center;
}

.actualToDoList div {
    padding: 0.3rem 0;
}

.title {
    font-size: 1.6rem;
}

.adderZone input {
    box-shadow: inset 0 0 3px rgba(0,0,0,0.7);
    border-radius: 0.25rem;
    text-align: center;
    min-width: 10px;
    /*background: #2F3020;*/
}
.adderZone button {
    color: white;
    background: #2F3020;
    transition: background 0.15s;
}
.adderZone button:hover {
    background: rgba(47, 48, 32, 0.7);
}

.adderZone button:active {
    background: rgb(39, 40, 27);
}

button {
    border-radius: 0.3rem;
    border: none;
    margin: 0.2rem;
    padding: 0.2rem 0.8rem;
    background: #596235;
    color: #CDCBD6;
    cursor: pointer;
}

.listZone {
    text-align: start;
    background: #2F3020;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.35);
}
.doneBut {
    background: #CDCBD6;
    color: #596235;
    border-radius: 1rem;
    transition: box-shadow 0.15s, color 0.15s, background 0.15s;
}
.doneBut:hover {
    box-shadow: inset 0 0 3px 3px rgba(0,0,0,0.5);
}
.doneBut:active {
    background: #596235;
    color: #CDCBD6;
}

.delBut {
    background: #D96846;
    border-radius: 2rem;
    transition: box-shadow 0.15s, color 0.15s, background 0.15s;
    padding: 0.18rem 0.5rem;
}
.delBut:hover {
    box-shadow: inset 0 0 3px 3px rgba(0,0,0,0.5);
}
.delBut:active {
    background: #596235;
}
